@model DeerManager.Models.Hasroot

@*For the add new sheep*@

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="text-align:center" ;>

        <div class="form-group">
            <label for="Id">תעודת זהות</label>
            @Html.TextBoxFor(model => model.Id, new { disabled = "disabled" })
        </div>
        <div class="form-group" style="direction: rtl; text-align:center;">
            <label for="DateOfHamlata"> תאריך הזרעה:</label>
            <input type="date" id="DateOfHamlata" name="DateOfHamlata">
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="הוסף" class="btn btn-success" />
            </div>
        </div>
    </div>
}


