
@{
    ViewBag.Title = "AdvancedDetailsUpdate";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Updates Done!</h2>

<input type="button" title="דף ראשי" value="עבור לדף הראשי" onclick="location.href='@Url.Action("ShowMyHome", "Home")'" class="btn btn-info" />