@model DeerManager.Models.maintable

@{
    ViewBag.Title = "EditSheep";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>EditSheep</h2>

<body>
   This WEBSITE Underconstruction ..
</body>