
@{
    ViewBag.Title = "errorPage";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2 style="text-align:center; color:red;">שגיאה</h2>
<div style="text-align:center;">
    <div style="font:bold;"> וודא ש</div>
    <br />
    לא הכנסת נתונים שגאוים
    <br />
     הלינק שאתה מנסה לגשת אליו נכון
    <br />
    אם עדיין יש תקלה נא לפנות דרך המייל
    <br />
    mahdiasaly@gmail.com
</div>