@model DeerManager.Models.maintable

@{
    ViewBag.Title = "MoveGroup";
    Layout = null;
}
<div style="text-align: center;">

    <h2>בחר קבוצה שברצונך להציג</h2>
    <select name="test_redirect" onchange="location.assign('@Url.Action("MoveGroupPage", "Home")/' + this.options[this.selectedIndex].value)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="8">9</option>
            <option value="8">10</option>
        </select>

        <br />
        <br />

        <input type="submit" value="סגור" class="btn btn-danger" onclick="Close()" />
</div>
<script>

    function Close(form) {
         Popup.dialog('close');
   }
</script>