@model DeerManager.Models.maintable

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowMyHome still under construction</title>
</head>
<body>
    <div>
        still under construction
    </div>
</body>
</html>
