
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
@{
    ViewBag.Title = "טבלת כבשים";
}

<h2 style="text-align:center">טבלה ראשית</h2>
<div style="text-align:right;">
    <a class="btn btn-primary" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddNewSheep","Home")')"><i class="fa fa-plus"></i>הוספה חדשה</a>
    <a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("MoveGroup","Home")')"><i class="fa fa-home"></i>העבר מקבוצה לקבוצה</a>
</div>
<table id="SheepTables" class="display" style="text-align:center;">
    <thead>
        <tr>
            <th>תעודת זהות</th>
            <th>מספר הכבש</th>
            <th>סוג הדם</th>
            <th>מין</th>
            <th>קבוצה</th>
            <th>תאריך לידה</th>
            <th>מידע נוסף</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>תעודת זהות</th>
            <th>מספר הכבש</th>
            <th>סוג הדם</th>
            <th>מין</th>
            <th>קבוצה</th>
            <th>תאריך לידה</th>
            <th>מידע נוסף</th>
        </tr>
    </tfoot>
</table>

<!-- Normal -->
<link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


    @* Normal *@
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>

    @*For the add new sheep*@

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


    <script>
        $(document).ready(function () {

            $("#SheepTables").DataTable(
                {
                    "ajax": {
                        "url": "/Home/GetList",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "Id" },
                        { "data": "SheepNum" },
                        { "data": "Blood" },
                        { "data": "Gender" },
                        { "data": "Group" },
                        { "data": "Birthday" },
                        {"data":"Id" , "render" : function (data) {
                            return "<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=\'Delete(" + data + ")\'><i class='fa fa-trash'></i>מחק</a><a class='btn btn-default btn-sm' onclick=PopupForm('@Url.Action("Details","Home")/" + data + "')><i class='fa fa-pencil'></i>הצג</a>";
                        },
                            "orderable": false,
                            "searchable":false,
                            "width":"150px"
                        }

                    ],
                    "language": {

                        "emptyTable": "הרשימה ריקה , נא להוסיף חיה חדשה בלחיצה על <b>הוספה חדשה</b>"
                    }
                });

        });



    //adding new sheep
    function PopupForm(url) {
        var formDiv = $('<div/>');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: 'נא למלות את הנתונים',
                    height: 450,
                    width: 600,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
        });
    }
    function SubmitForm(form) {
                $.validator.unobtrusive.parse(form);
                if ($(form).valid()) {
                    $.ajax({
                        type: "POST",
                        url: form.action,
                        data: $(form).serialize(),
                        success: function (data) {
                            if (data.success) {
                                Popup.dialog('close');
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })

                            }
                        }
                    });
                }
                return false;
        }

        function Delete(id) {
            if(confirm('האם אתה בטוח שברצונך למחוק שורה זאת ?'))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Home")/' + id,

                    success: function (data) {
                        $("#SheepTables").DataTable().ajax.reload();
                        if (data.success)
                        {

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }
                });
            }
        }
    </script>
}